* {
  box-sizing: border-box;
}

footer{
  margin: 0 auto;
  padding: 0 10px;
  top: 300px;
  height: 400px;
  width : 100%;
  position: relative;
  background-color: #23415C;
  padding: 5% 5% 10% 5%;
  color: #FFF;


}
body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.test {
  font-size: 50px;
  word-break: break-all;
  color: #7272FE;
  text-shadow: 3px 3px 5px #000000;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.column,
.column > .row{
  padding: 10px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 33.3333%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}