table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 90%;
}
html {
  scroll-behavior: smooth;
}
h1{
  font-family: fantasy;
}
{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.contactInfo
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contactForm
{
  display: flex;
  align-items: right;
  flex-direction: column;
  width:40%;
  padding:40px;
  color:#000000;
  background: #fff;
}
.contactForm h2
{
  font-size:30px;
  font-weight:500;
  color: #333;
}
.inputBox
{
  width:100%;
  position:relative;
  margin-top:10px;
}
.contactForm .iputBox input{
  width:100%;
  padding:5px 0;
  font-size:16px;
  margin:10px 0;
  border:none;
  border-bottom: 2px solid #333;
  outline: none;
  resize:none;
}
.container2{
  margin: 0 auto;
  max-width: 950px; 
  padding: 0 10px;
  position: relative;
  top: 200px;
  background-size: cover;
  height: 870px;
  text-align: center;
}
.container3{
  margin: 0 auto;
  max-width: 950px; 
  padding: 0 10px;
  position: relative;
  top: 200px;
  bottom:300px;
  background-size: cover;
  height: 870px;
  text-align: center;
}
.content{
  text-align: center;
}
footer{
  margin: 0 auto;
  padding: 0 10px;
  top: 300px;
  height: 700px;
  width : 100%;
  position: relative;
  background: url(1.jpg);
  background-size: cover;
  padding: 5% 5% 10% 5%;
  color: #FFF;

}

thead th {
  background: #88CCF1;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#blah {
  background: #000000;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;

}

h2{
  font-family: cursive;
}

.header h1 {
  color: #fff;
  line-height: 140px; 
  font-size: 80px;
  margin-top: 40;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-shadow:5px 5px 5px #000000; 
}
.header {
  background: url(bigstock-Music-background-with-piano-ke-85189055.jpg) no-repeat center center; 
  background-size: cover;

  height: 810px;
  text-align: center; 
}
.header .container {
  position: relative;
  top: 200px;
}

.fixed-bg {
  background-image: url("background-piano-music-wallpaper-and-desktop-background-.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

tr {
  background: #f4f7f8;
  border-bottom: 5px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
  border-left:5px solid #FFF;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000000
}